<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Motivation</title>
      <link rel="stylesheet" type="text/css" href="/Users/elizabeth/Library/Mobile Documents/com~apple~CloudDocs/FutureProof/lap-1-assessment-master/public/css/style.css"

      />

      <link
        href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"
        rel="stylesheet"
      />
      <scripts
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script src="/Users/elizabeth/Library/Mobile Documents/com~apple~CloudDocs/FutureProof/lap-1-assessment-master/public/js/script.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
      <section>
        <h2 id="text">Motivational Quotes</h2>
        <form>
          <input type="submit" value="Get Inspired" />
        </form>
        <h1 action ="GetQuotes" method="POST" name="quote "id="text">


          
        </h1>
          




        </h1>
      </section>
      <footer>
        <p>Image from Unsplash by Kenrick Mills</p>
      </footer>
    </body>
  </html>
</html>
